body.home {
  background: url(../images/HomeMobileBG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body.home h1 {
  font-size: 40px;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: .8;
  margin: 0 0 0 40px;
  color: #ffffff;
  font-weight: 700;
}

body.home h2 {
  font-weight: 700;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px 0 -10px 0px;
  position: relative;
  letter-spacing: 1px;
}

body.home h2:before {
  display: inline-block;
  width: 57px;
  height: 57px;
  background: url(../images/sticker.png) no-repeat center bottom;
  content: '';
  vertical-align: middle;
  margin-right: 15px;
}

body.home h3 {
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 8px 0 0;
  color: #ffffff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}

body.home h3:before {
  display: inline-block;
  width: 57px;
  height: 57px;
  background: url(../images/sticker.png) no-repeat center right;
  content: '';
  text-align: right;
  margin: 0 8px 8px 0;
  vertical-align: middle;
}

body.home h4 {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  width: 100%;
}

body.home p {
  font-weight: 400;
  font-size: 12px;
  font-size: 1.2rem;
}

body.home header {
  background: url(../images/skater.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}

body.home header .title {
  width: 60%;
  display: inline-block;
  vertical-align: bottom;
}

body.home header .mainLogo {
  max-width: 35%;
}

body.home .navbar-default {
  background: transparent;
  border: none;
}

body.home .navbar-default .navbar-header {
  background: #1f4d69;
}

body.home .navbar-default .navbar-collapse, body.home .navbar-default .navbar-form {
  background: #1f4d69;
}

body.home .navbar-default .navbar-toggle {
  border: 0;
  margin-right: 0;
}

body.home .navbar-default .navbar-toggle:hover, body.home .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

body.home .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

body.home .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

body.home .services {
  padding: 0;
  margin: 0;
  width: 100%;
}

body.home .services li {
  display: inline-block;
  background: #1f4d69 url(../images/bgGrid.jpg);
  width: 33%;
  margin: 0 -1px 1px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

body.home .services a {
  color: #ffffff;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
}

body.home .services a:hover {
  background: #1f4d69 url(../images/bgGridHover.jpg);
  text-decoration: none;
}

body.home .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 85px;
}

body.home .content:hover {
  background: rgba(255, 255, 255, 0.15);
}

body.home .content a:hover {
  text-decoration: none;
}

body.home .adspace {
  position: relative;
  padding: 10px 0;
}

body.home .adspace img {
  max-width: 100%;
}

body.home .adspace h3 {
  color: #f6ff07;
  margin: 25px 30px 0;
  font-size: 23px;
  font-size: 2.3rem;
}

body.home .adspace h3:before {
  display: none;
}

body.home .adspace .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: -30%;
}

body.home .adspace .col-md-6 {
  padding: 0;
}

body.home .adspace p {
  color: #ffffff;
  margin: 0 30px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
}

body.home .adspace p a {
  font-style: italic;
  text-decoration: underline;
  color: #ffffff;
}

body.home .adspace p a:hover {
  text-decoration: none;
}

body.home #tabs {
  padding: 0;
  margin-bottom: 0px;
}

body.home #tabs li {
  list-style: none;
}

body.home #tabs li a {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 7px 14px 6px 12px;
  display: block;
  background: rgba(232, 139, 56, 0.8);
  text-decoration: none;
  border-top: 3px solid #d35400;
  border-bottom: 3px solid #d35400;
  outline: none;
  text-transform: uppercase;
}

body.home #tabs li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

body.home #tabs li a.inactive {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #cccccc;
  background: rgba(0, 0, 0, 0.6);
  border-top: 2px solid #2b2b2b;
  border-bottom: none;
}

body.home #tabs li a.inactive:hover {
  color: #d35400;
}

body.home .tab-container {
  background: rgba(232, 139, 56, 0.8);
  padding: 10px;
  color: #fff;
  min-height: 133px;
  border-top: 3px solid #d35400;
  border-bottom: 3px solid #d35400;
}

body.home .tab-container a {
  color: #fff;
}

body.home .social {
  padding: 0;
  margin: 35px 0;
}

body.home .social li {
  display: inline-block;
  width: 19.5%;
  margin-right: -3px;
  text-align: center;
}

body.home .social .twitter, body.home .social .flickr, body.home .social .facebook, body.home .social .linkedin, body.home .social .instagram {
  display: inline-block;
  height: 51px;
  width: 51px;
  background: url(../images/socialIcons.png) no-repeat;
  vertical-align: top;
}

body.home .social .twitter:hover, body.home .social .flickr:hover, body.home .social .facebook:hover, body.home .social .linkedin:hover, body.home .social .instagram:hover {
  opacity: .85;
}

body.home .social .flickr {
  background-position: -56px 0;
}

body.home .social .facebook {
  background-position: -112px 0;
}

body.home .social .linkedin {
  background-position: -168px 0;
}

body.home .social .instagram {
  background-position: -223px 0;
}

body.home .calendar {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}

body.home .calendar .title {
  display: block;
  margin: 10px 0;
  width: 100%;
}

body.home .calendar .title .main {
  font-size: 24px;
  font-size: 2.4rem;
}

body.home .calendar .title .semester {
  text-transform: uppercase;
}

body.home .calendar .title .year {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
}

body.home .calendar .title a {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

body.home .calendar .title a:before {
  text-decoration: none;
}

body.home .calendar .day {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6px;
}

body.home .calendar .day:hover {
  background: rgba(255, 255, 255, 0.1);
}

body.home .calendar .day .date {
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

body.home .calendar .day .event {
  display: block;
  font-weight: 700;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 15px;
}

body.home .calendar .day a {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
}

body.home .purple {
  background: #7e3663;
  opacity: .87;
  padding: 10px;
  color: #ffffff;
  min-height: 115px;
}

body.home .black {
  background: rgba(43, 43, 43, 0.8);
  padding: 10px;
  color: #ffffff;
  min-height: 115px;
}

body.home .black:hover {
  background: rgba(0, 0, 0, 0.8);
}

body.home .blue {
  background: #2897d1;
  padding: 10px;
  color: #ffffff;
  min-height: 115px;
}

body.home .blue:hover {
  background: #227baa;
}

body.home .red {
  background: rgba(226, 35, 26, 0.9);
  padding: 10px;
  color: #ffffff;
  min-height: 115px;
}

body.home .red:hover {
  background: rgba(191, 31, 23, 0.9);
}

body.home .two-rows {
  min-height: 190px !important;
}

body.home .left-column {
  text-align: center;
  text-transform: uppercase;
}

body.home .left-column .black {
  background: rgba(43, 43, 43, 0.87);
}

body.home .left-column .blue {
  background: rgba(40, 151, 209, 0.87);
}

body.home .left-column .purple {
  background: rgba(126, 54, 99, 0.87);
}

body.home .left-column .red {
  background: rgba(226, 35, 26, 0.9);
}

body.home .middle-column a {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  width: 100%;
  color: #ffffff;
}

body.home .middle-column .black {
  min-height: 115px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

body.home .middle-column .blue {
  min-height: 115px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

body.home .middle-column .red {
  min-height: 115px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

body.home .module-small {
  padding: 70px 0;
}

body.home .module-small.bg-deep {
  background: #1f4d69;
}

body.home .module-small [class*="col-"] {
  padding: 0 15px;
}

.widget {
  margin-bottom: 40px;
}

.widget .widget-title {
  border-bottom: 1px dotted #c2c2c2;
  font-size: 14px;
  padding: 0 0 10px;
  margin: 0 0 15px;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget ul li {
  margin: 0 0 15px;
  font-size: 12px;
  font-size: 1.2rem;
}

.widget .icon-list li a:before {
  content: "\00BB";
  color: #666666;
  padding-right: 5px;
}

.widget-posts-image {
  float: left;
  width: 64px;
}

.widget-posts-body {
  margin-left: 74px;
}

footer {
  padding: 10px 0;
}

footer .bg-dark {
  background: #111111;
}

footer .copyright {
  margin: 0;
}

footer .font-alt {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1f4d69;
}

footer .footer-social-links {
  text-align: right;
}

footer .footer-social-links a {
  color: #ffffff;
  display: inline-block;
  padding: 0 6px;
}

.bg-dark, .bg-dark-30, .bg-dark-60, .bg-dark-90, .bg-dark .module-title, .bg-dark-30 .module-title, .bg-dark-60 .module-title, .bg-dark-90 .module-title, .bg-dark .module-subtitle, .bg-dark-30 .module-subtitle, .bg-dark-60 .module-subtitle, .bg-dark-90 .module-subtitle, .bg-dark .alt-module-subtitle h5, .bg-dark-30 .alt-module-subtitle h5, .bg-dark-60 .alt-module-subtitle h5, .bg-dark-90 .alt-module-subtitle h5 {
  color: #fff;
}

.bg-dark {
  background: #111;
}

.bg-dark a {
  color: #e1e1e1;
  font-size: 12px;
  font-size: 1.2rem;
}

.home-section {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hs-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.hs-title-size-4 {
  letter-spacing: 0.2;
  padding: 50px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  opacity: .8;
  background-color: #fff;
}

.hs-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: .9;
  background-color: #fff;
}

/* ------------------------------------------------------------------
Preloader
------------------------------------------------------------------- */
.page-loader {
  position: fixed;
  background: #000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9998;
}

.loader {
  position: absolute;
  border-left: 2px solid #ffffff;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0 0 -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
  -webkit-animation: load 0.8s infinite linear;
  -moz-animation: load 0.8s infinite linear;
  ms-animation: load 0.8s infinite linear;
  o-animation: load 0.8s infinite linear;
  animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section.home-section {
  margin: 0;
}

@media (min-width: 768px) {
  [class*="col-"] {
    padding: 0 2px;
  }
}

@media (min-width: 1200px) {
  body.home {
    background: url(../images/HomeBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
  }
  body.home.home .module-small {
    margin-top: 40px;
  }
  body.home nav {
    float: right;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
  }
  body.home nav ul li {
    display: inline-block;
  }
  body.home nav ul a {
    font-weight: 900;
    font-size: 12px;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 12px;
    letter-spacing: 1px;
  }
  body.home nav ul li:last-child a {
    margin-right: 0;
  }
  body.home .navbar-default .navbar-header {
    background: transparent;
  }
  body.home .navbar-default .navbar-collapse {
    background: transparent;
    padding-right: 0;
  }
  body.home .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 0;
  }
  body.home .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  body.home .container {
    width: 1024px;
  }
  body.home .container-fluid {
    padding-right: 0;
  }
  body.home .social {
    padding: 0;
    margin: 35px 0 0;
  }
  body.home h1 {
    font-size: 56px;
    font-size: 5.6rem;
  }
  body.home h2 {
    margin-left: -8px;
  }
  body.home h3:before {
    width: 100%;
    display: block;
  }
  body.home section {
    margin: 15px 0;
  }
  body.home .mainLogo {
    margin-top: -50px;
  }
  body.home .services {
    width: 90%;
  }
  body.home .calendar .day {
    width: 13.95%;
    margin-right: -5px;
  }
  body.home .calendar .title:before {
    display: inline-block;
    width: 57px;
    height: 57px;
    background: url(../images/sticker.png) no-repeat center bottom;
    content: '';
    vertical-align: bottom;
    margin: 0 15px 0 -20px;
  }
  body.home .adspace {
    margin-top: 105px;
  }
  body.home .adspace .row {
    margin-right: -2px;
    position: absolute;
    bottom: 8px;
    margin-top: 0;
  }
  body.home .adspace .col-md-6 {
    padding: 0 5px 0 0;
  }
  body.home .adspace .col-md-6.tab-content {
    margin-left: -5px;
    width: 50.58%;
    padding-right: 0px;
  }
  body.home .left-column, body.home .middle-column, body.home .right-column {
    display: inline-block;
    vertical-align: top;
  }
  body.home .left-column {
    text-align: right;
  }
  body.home .left-column .black {
    min-height: 115px;
  }
  body.home .left-column .blue {
    min-height: 115px;
  }
  body.home .left-column .red {
    min-height: 115px;
  }
  body.home .widget {
    margin-bottom: 0px;
  }
}
