 media queries 
@media (max-width: 768px) {
      
    #header {
    background-color: black;
}
    
    .sectiontitle {
    color: #fff;
    float: right;
    font-size: 25px;
    margin: 25px 0 0 40px;
    text-transform: uppercase;
}
    
    .msudenver_logo {
    width: 200px;
}


}