//Variables
$purple: #7e3663;
$white: #ffffff;
$black: #2b2b2b;
$blue: #2897d1;
$dkBlue: #1f4d69;
$red: #e2231a;
$yellow: #f6ff07;
$gray: #959595;
$orange: #e67e22;
$orange-border: #d35400;
$orange-trans: rgba(230, 126, 34, 0.75);
$teal: #16a085;
$teal-border: #00765f;
$teal-trans: rgba(0, 118, 95, 0.75);
$purple: #8e44ad;
$purple-border: #66008e;
$purple-trans:rgba(102, 0, 142, 0.75);
$font: 'Lato', sans-serif;