//@import "search-bar";

@import "elements/variables";

// Mixins
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}




//Mobile and Up Styles
body.home {
    background: url(https://msudenver.edu/media/studenthub/images/Campus-Background-mobile.jpg)     bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: $font;
    font-weight: 400;
    
 @import "elements/footer";   
    
    section {
      margin-top: 15px;
      margin-bottom:15px;

    }
    h1 {
        @include font-size(4.0);
        text-transform: uppercase;
        font-weight: normal;
        line-height: .8;
        margin: 0 0 0 40px;
        color: $white;
        font-weight: 700;
    }
    h2 {
        font-weight: 700;
        @include font-size(2.2);
        text-transform: uppercase;
        color: $white;
        margin: 30px 0 -10px 0px;
        position: relative;
        letter-spacing: 1px;
        z-index: 99;
        &:before {
            display: inline-block;
            width: 57px;
            height: 57px;
            background: url(https://msudenver.edu/media/studenthub/images/sticker.png) no-repeat center bottom;
            content: '';
            vertical-align: middle;
            margin-right: 15px;
        }
    }
    h3 {
        font-weight: 900;
        @include font-size(1.8);
        text-transform: uppercase;
        margin: 8px 0 0;
        color: $white;
        text-shadow: 0 0 7px rgba(0,0,0,.45);
    }
    h3:before {
        display: inline-block;
        width: 57px;
        height: 57px;
        background: url(https://msudenver.edu/media/studenthub/images/sticker.png) no-repeat center right;
        content: '';
        text-align: right;
        margin: 0 8px 8px 0;
        vertical-align: middle;
    }
    h4 {
        font-weight: 500;
        @include font-size(1.8);
        text-transform: uppercase;
        margin-bottom: 0;
        display: block;
        width: 100%;
    }
p {
    font-weight: 400;
    @include font-size(1.2);
}
      
header {
    //background: url(../images/skater.jpg) no-repeat;
    //background-size: cover;
    //width: 100%;
    .title {
        width: 60%;
        display: inline-block;
        vertical-align: bottom;
    }
    .mainLogo {
      max-width: 35%;
    }
}

.navbar-default {
    background: transparent;
    border: none;
    //width: 109%;
    //margin-left: -15px;
    .navbar-header {
        background: $dkBlue;
    }
    .navbar-collapse, .navbar-form {
        background: $dkBlue;
    }
    .navbar-toggle {
        border: 0;
        margin-right: 0;
        &:hover, &:focus {
            background-color: transparent;
        }
    }
    .navbar-nav > li > a {
        color: $white;
    }
    .navbar-toggle .icon-bar {
        background-color: $white;
    }
}
.services {
    padding: 0;
    margin: 0;
    width: 100%;
    .services-btn {
        border-radius: 0;
        display: inline-block;
        background: $dkBlue url(../images/bgGrid.jpg);
        margin: 0 -1px 1px 0;
        border: 1px solid rgba(255,255,255,.5);
        color: $white;
        font-weight: 200;
        text-align: center;
        display: block;
        @include font-size(1.8);
        &:hover {
            background: $dkBlue;
            text-decoration: none;
        }
    }
    a {
        color: $white;
        font-weight: 200;
        padding: 20px 0;
        text-align: center;
        display: block;
        @include font-size(1.8);
        &:hover {
            background: $dkBlue;
            text-decoration: none;
        }
    }
}
.content {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
    //min-height: 85px;

     .text-center {
        width:100%;
         &:hover {
        text-decoration: none;
            }
        } 
     .description {
        font-size: 1em;
        font-weight: 300;
     }      
}

.social {
    padding: 0;
    margin: 15px 0;
    .fa-stack {
    margin-left: 2.5%;
    margin-right: 2.5%;
    }
    .fa-youtube, .fa-instagram, .fa-facebook, .fa-twitter, .fa-flickr {
    background-color: white;
    border-radius: 50px;
    //box-shadow: 0 8px 10px rgba(0,0,0,0.4);
    color: #45A8C7;
    &:hover {
        color: #3e97b3;
      }
    }
}
.calendar {
    color: $white;
    font-weight: 900;
    @include font-size(1.8);
    .title {
        display: block;
        margin: 10px 0;
        width: 100%;
        .main {
            @include font-size(2.4);
        }
        .semester {
            text-transform: uppercase;
        }
        .year{
           font-family: $font;
           text-transform: uppercase;
           margin-right: 10px;
        }
        a {
           @include font-size(1.2);
            font-style: italic;
            font-weight: 400;
            color: $white;
            text-decoration: underline;
            &:before {
                text-decoration: none;
            }
        }
    }
    .day {
        display: inline-block;
        vertical-align: top;
        //width: 100%;
        height: 125px;
        border: 1px solid rgba(255,255,255,.5);
        padding: 10px;
        background-color: rgba(30, 74, 101, 0.72);
        &:hover {
            background: rgba(30, 74, 101, 0.9);
        }
        .date {
            color:$white;
            @include font-size(1.2);
            text-transform: uppercase;
            font-weight: 400;
        }
        .event {
            color:$white;
            display: block;
            font-weight: 300;
            @include font-size(1.4);
            text-transform: uppercase;
            line-height: 1.3;
            margin-top: 10px;
        }
    }
}

.black {
    background: rgba(43, 43, 43, .8);
    padding: 10px;
    color: $white;
    min-height: 115px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.blue {
    background: $blue;
    padding: 10px;
    color: $white;
    min-height: 115px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);

}
.red {
    background: rgba(226,35,26, .9);
    padding: 10px;
    color: $white;
    min-height: 115px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
   
    }
}

.left-column {
     [class*="col-"] {
    padding: 0 0px;
    }
    text-align: center;
    text-transform: uppercase;
}
.middle-column {
     [class*="col-"] {
    padding: 0 2px;
    }
    padding-left: 3px;
    a {
        font-weight: 200;
        @include font-size(1.8);
        text-transform: uppercase;
        margin-bottom: 0;
        display: block;
        width: 100%;
        color: $white;
        &:hover {
        text-decoration: none;
        }
      .black {
           &:hover {
        background: rgba(0, 0, 0, .8);
        }   

      }
      .blue {
            &:hover {
        background: rgb(34, 123, 170);
    }
      }
      .red {
           &:hover {
        background: rgba(191, 31, 23, 0.9);
      }
}
}

} // end homepage styles

//Rival Styles for cleanup
body.home .module-small {
    padding: 70px 0;
    &.bg-deep {
        background: $dkBlue;
    }
    [class*="col-"] {
        padding: 0 15px;
    }
}
.widget {
    margin-bottom: 40px;
    .widget-title {
        border-bottom: 1px dotted #c2c2c2;
        font-size: 14px;
        padding: 0 0 10px;
        margin: 0 0 15px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0 0 15px;
            @include font-size(1.2);
        }
    }
    .icon-list li a:before {
        //content: "#00BB";
        color: #666666;
        padding-right: 5px;
    }

}
.widget-posts-image {
    float: left;
    width: 64px;
}
.widget-posts-body {
    margin-left: 74px;
}



.bg-dark, .bg-dark-30, .bg-dark-60, .bg-dark-90, .bg-dark .module-title, .bg-dark-30 .module-title, .bg-dark-60 .module-title, .bg-dark-90 .module-title, .bg-dark .module-subtitle, .bg-dark-30 .module-subtitle, .bg-dark-60 .module-subtitle, .bg-dark-90 .module-subtitle, .bg-dark .alt-module-subtitle h5, .bg-dark-30 .alt-module-subtitle h5, .bg-dark-60 .alt-module-subtitle h5, .bg-dark-90 .alt-module-subtitle h5 {
	color: #fff;
}
.bg-dark {
	background: #111;
    a {
        color: #e1e1e1;
        @include font-size(1.2);
    }
}
.home-section {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hs-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.hs-title-size-4 {
  letter-spacing: 0.2;
  padding: 50px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  opacity: .8;
  background-color: #fff;
}
.hs-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: .9;
  background-color: #fff;
}


// Small Devices to Large Devices Media Query
@media (min-width: 768px) {
.sections{
    
}
body.home {
    background: url(https://msudenver.edu/media/studenthub/images/Campus-Background-comp.jpg) bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    &.home .module-small {
       margin-top: 40px;
    }
  nav {
      margin: 0 auto;
      ul {
          li {
              display: inline-block;
          }
          a {
              font-weight: 900;
              @include font-size(1.2);
              color: $white;
              text-transform: uppercase;
              margin-right: 12px;
              letter-spacing: 1px;
          }
      }
  }
  .navbar-default {
        text-align: right;
        background: transparent;
      .navbar-collapse {
        background: transparent;
      }
      .navbar-form{
        background: transparent;
        padding-top: 15px;
      }
      .navbar-nav > li > a {
          color: $white;
          padding:30px 5px;
          &:hover {
              color: $white;
              text-decoration: underline;
          }
      }
  }

  h1 {
    @include font-size(5.6);
  }
  h2 {
    margin-left: -8px;
  }
  h3:before {
    width: 100%;
    display: block;
  }
  .mainLogo {
      margin-top: -70px;
  }
  .services {
    width: 90%;
  }
  .calendar {
      .title:before {
            display: inline-block;
            width: 57px;
            height: 57px;
            background: url(../images/sticker.png) no-repeat center bottom;
            content: '';
            vertical-align: bottom;
            margin: 0 15px 0 -20px;
        }
  }
  .left-column, .middle-column {
      display: inline-block;
      vertical-align: top;
      
  }
  .left-column {
      text-align: right;
      .black {
          min-height: 115px;
      }
      .blue {
          min-height: 115px;
      }
      .red {
          min-height: 115px;
      }
  }
}
}

@import "promospace";
